<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
</head>

<body>
  <%- include('./partials/header'); %>
  <div class="row">
    <div class="col-lg-4">
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
    </div>
    <div class="col-lg-4">
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
    </div>
    <div class="col-lg-4">
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
      <div class="box"><%- include('./partials/resource'); %></div>
    </div>
  </div>
</body>

</html>
