<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page</title>
  <%- include('./partials/_head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/profile-page.css" />
</head>

<body>
  <%- include('./partials/_header'); %>
  <script>
    window.profileId = "<%= profile %>";
  </script>
    <section class="pp-main">
      <section class="pp-left">
        <section class="pp-user-info">
          <img class="pp-user-pfp"
            src="<%= profileData.pfp_url %>">
          <section class="pp-user-info-text">
            <div class="pp-user-display"> <%= profileData.display_name %> </div>
            <div class="pp-user-pronouns"> <%=  profileData.pronouns %></div>
            <div class="pp-user-name"><%= userData.name %></div>
            <form id="edit-pf" action="/users/:id/edit" method="post">
              <button class="mui-btn mui-btn--small mui-btn--primary" id="edit-pf-btn" type="submit">Edit Profile</button>
            </form>
          </section>
        </section>

        <section class="pp-user-bio">
          <div class="pp-bio-head">
            About Me
          </div>

          <p class="pp-bio-text">
            <%= profileData.bio %>
          </p>
        </section>

        <form class="create-quack" action="/api/resources" method="post" id="resources">
          <div class="cq-head">
            Quack About:
          </div>

          <section class="cq-top">
            <section class="cq-img">
              <label for="img_url">Image Link:</label>
            <input type="url" id="img_url" name="img_url" placeholder="Image url">
            </input>
            </section>
            <section class="cq-category">
              <label for="cq-category">Quategory:</label>
              <select id="category" name="category">
                <option value="favourites">Favourites</option>
                <option value="tools">Tools</option>
                <option value="reference">Reference</option>
                <option value="packages">Packages</option>
                <option value="scripts">Scripts</option>
                <option value="styles">Styles</option>
                <option value="read-later">Read Later</option>
                <option value="misc">Misc.</option>
              </select>
            </section>
          </section>

          <section class="cq-middle">
            <input class="cq-title" placeholder="Title" type="text" id="title" name="title" maxlength="30" required></input>
            <input class="cq-url" placeholder="URL" type="url" id="url" name="url" required></input>
          </section>

          <section class="cq-bottom">
            <textarea class="cq-description" placeholder="Description" id="description" name="description" rows="4" maxlength="50" required></textarea>
            <button class="mui-btn mui-btn--small mui-btn--primary cq-btn" id="post-resource" type="submit">Quack!</button>
          </section>
        </form>
      </section>

      <section class="pp-right">
        <section class="pp-right-top">
          <div class="pp-right-head">Your Quacks:</div>

          <section class="pp-category">
            <select name="pp-category" id="category-selector">
              <option value="all">All</option>
              <option value="liked">Liked</option>
              <option value="favourites">Favourites</option>
              <option value="tools">Tools</option>
              <option value="reference">Reference</option>
              <option value="packages">Packages</option>
              <option value="scripts">Scripts</option>
              <option value="styles">Styles</option>
              <option value="read-later">Read Later</option>
              <option value="misc">Misc.</option>
            </select>
          </section>
        </section>

        <section class="pp-right-bottom">
          <div class="box"><%- include('./partials/_resource'); %></div>
        </section>
      </section>
    </section>

    <script>
      window.profileId = "<%= profile %>";
      window.userId = "<%= user %>";
    </script>
    <%- include('./partials/_scripts'); %>
    <script src="/scripts/profiles.js"></script>
</body>

</html>
