<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search Results</title>
  <%- include('./partials/_head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/search-results.css" />
</head>

<body>
  <%- include('./partials/_header'); %>
    <div class="sr-head">Your Results:</div>
    <div class="box"><%- include('./partials/_resource'); %></div>


    <script>
      window.searchInput = "<%= search %>";
    </script>
    <%- include('./partials/_scripts'); %>
    <script src="/scripts/searchResources.js"></script>
</body>

</html>
